# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
purchase_env/

# Django stuff
*.sqlite3
*.log

# Git
.git
.gitignore

# IDE/editor files
.vscode/
.idea/

# Node modules if any
node_modules/
